In [1]:
import pandas as pd
import numpy as np

In [2]:
uni_data_df = pd.read_csv('../nba_forecast/data/df_csv_no_url.csv')
uni_data_df = uni_data_df.iloc[: , 1:] #drop first column as csv contains indexes already
#drop dummy columns (empty)
uni_data_df = uni_data_df.drop(columns=['ws-dum', 'bpm-dum'])

In [3]:
uni_data_df = uni_data_df.drop_duplicates()

In [4]:
uni_data_df.head()

,player_name,season,school_name,conf_abbr,g,gs,mp,per,ts_pct,efg_pct,...,blk_pct,tov_pct,usg_pct,ows,dws,ws,ws_per_40,obpm,dbpm,bpm
0,Anthony Davis,2011-12,Kentucky,SEC,40,40,1281,35.1,0.654,0.628,...,13.7,8.6,18.8,5.9,4.1,9.9,0.310,9.1,8.1,17.2
1,Michael Kidd-Gilchrist,2011-12,Kentucky,SEC,40,39,1245,21.2,0.570,0.511,...,2.8,17.3,20.6,3.4,2.6,6.0,0.192,4.1,3.6,7.7
2,Bradley Beal,2011-12,Florida,SEC,37,37,1267,22.0,0.575,0.525,...,2.6,14.3,23.0,3.6,2.1,5.7,0.180,5.4,2.9,8.4
3,Dion Waiters,2010-11,Syracuse,Big East,34,0,554,18.5,0.524,0.484,...,0.8,12.4,22.4,1.2,1.0,2.2,0.157,1.7,4.2,5.9
4,Dion Waiters,2011-12,Syracuse,Big East,37,0,891,26.3,0.565,0.534,...,1.5,10.4,26.7,3.2,1.7,5.0,0.223,6.0,4.8,10.8

In [5]:
years_df = uni_data_df.groupby(['player_name','school_name']).size().to_frame('years').reset_index()

In [6]:
final_df = pd.merge(uni_data_df,years_df,how='inner',on=['player_name','school_name'])

In [7]:
final_df = final_df.drop_duplicates(['player_name','school_name'], keep='last').reset_index().drop(columns='index')

In [8]:
final_df.head()

,player_name,season,school_name,conf_abbr,g,gs,mp,per,ts_pct,efg_pct,...,tov_pct,usg_pct,ows,dws,ws,ws_per_40,obpm,dbpm,bpm,years
0,Anthony Davis,2011-12,Kentucky,SEC,40,40,1281,35.1,0.654,0.628,...,8.6,18.8,5.9,4.1,9.9,0.310,9.1,8.1,17.2,1
1,Michael Kidd-Gilchrist,2011-12,Kentucky,SEC,40,39,1245,21.2,0.570,0.511,...,17.3,20.6,3.4,2.6,6.0,0.192,4.1,3.6,7.7,1
2,Bradley Beal,2011-12,Florida,SEC,37,37,1267,22.0,0.575,0.525,...,14.3,23.0,3.6,2.1,5.7,0.180,5.4,2.9,8.4,1
3,Dion Waiters,2011-12,Syracuse,Big East,37,0,891,26.3,0.565,0.534,...,10.4,26.7,3.2,1.7,5.0,0.223,6.0,4.8,10.8,2
4,Thomas Robinson,2011-12,Kansas,Big 12,39,39,1242,27.4,0.549,0.512,...,14.2,30.0,3.7,3.5,7.2,0.231,5.4,3.4,8.8,3

In [9]:
final_df.to_csv('../nba_forecast/data/last_ncaa_season.csv', index=False)