In [1]:
import pandas as pd
import numpy as np

## Draft Order 2021

In [2]:
csv = ['DET', 'HOU', 'CLE', 'TOR', 'ORL', 'OKC', 'GSW', 'ORL', 'SAC', 'NOP', 'CHO', 'SAS', 'IND', 'MIN', 'WAS', 
       'MIA', 'MEM', 'POR','NYK', 'ATL', 'DAL', 'LAL', 'BOS', 'MIL', 'LAC', 'DEN', 'BRK', 'PHI', 'PHO', 'UTA']

In [5]:
data = pd.DataFrame(csv, columns=['team'])

In [8]:
data.index.rename('pick_order', inplace=True)

In [10]:
data.index += 1

In [12]:
data.to_csv('../nba_forecast/data/pick_order.csv', index=False)

## Draft Order 2011

In [16]:
csv_2 = ['CLE', 'MIN', 'UTA', 'DET', 'TOR', 'WAS', 'SAC', 'DET', 'CHA', 'MIL', 'GSW', 'ORL', 'PHO', 'LAC', 'IND', 'PHI', 
'NYK', 'ATL', 'MEM', 'LAL', 'POR', 'DEN', 'HOU', 'OKC', 'BOS', 'DAL', 'BRK', 'MIA', 'SAS', 'CHI']

data_2 = pd.DataFrame(csv_2, columns=['team'])

In [17]:
data_2.index.rename('pick_order', inplace=True)

In [18]:
data_2.index += 1

In [20]:
data_2

           team
pick_order
1           CLE
2           MIN
3           UTA
4           DET
5           TOR
6           WAS
7           SAC
8           DET
9           CHA
10          MIL
11          GSW
12          ORL
13          PHO
14          LAC
15          IND
16          PHI
17          NYK
18          ATL
19          MEM
20          LAL
21          POR
22          DEN
23          HOU
24          OKC
25          BOS
26          DAL
27          BRK
28          MIA
29          SAS
30          CHI

In [19]:
data_2.to_csv('../nba_forecast/data/pick_order_2011.csv', index=False)