In [1]:
import pandas as pd
import numpy as np

In [2]:
csv = ['DET', 'HOU', 'CLE', 'TOR', 'ORL', 'OKC', 'GSW', 'ORL', 'SAC', 'NOP', 'CHO', 'SAS', 'IND', 'MIN', 'WAS', 
       'MIA', 'MEM', 'POR','NYK', 'ATL', 'DAL', 'LAL', 'BOS', 'MIL', 'LAC', 'DEN', 'BRK', 'PHI', 'PHO', 'UTA']

In [5]:
data = pd.DataFrame(csv, columns=['team'])

In [8]:
data.index.rename('pick_order', inplace=True)

In [10]:
data.index += 1

In [11]:
data

           team
pick_order
1           DET
2           HOU
3           CLE
4           TOR
5           ORL
6           OKC
7           GSW
8           ORL
9           SAC
10          NOP
11          CHO
12          SAS
13          IND
14          MIN
15          WAS
16          MIA
17          MEM
18          POR
19          NYK
20          ATL
21          DAL
22          LAL
23          BOS
24          MIL
25          LAC
26          DEN
27          BRK
28          PHI
29          PHO
30          UTA